<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
	<%= csrf_meta_tag %>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
      <%= yield %>
    </p>
  </body>
</html>